.idea
*.pyc
.spyderproject
spinetoolbox/__pycache__/
spinetoolbox/ui/__pycache__/
spinetoolbox/widgets/__pycache__/
tool_templates/Swedish_hydro/
projects/
work/
build/
dist/
resources_icons_rc.py
resources_logos_rc.py
