repos:
-   repo: https://github.com/python/black
    rev: stable
    hooks:
    -   id: black
        files: ^spinetoolbox/
        exclude: ^spinetoolbox/ui|.*resources_icons_rc.py|.*resources_logos_rc.py
