-e git+https://github.com/spine-tools/Spine-Database-API.git@356_scalar_type_info#egg=spinedb_api
-e git+https://github.com/spine-tools/spine-engine.git#egg=spine_engine
-e git+https://github.com/spine-tools/spine-items.git#egg=spine_items
-e .
